checks:
  - name: "whoami command"
    function_name: subprocess_run
    kwargs:
      command: "whoami"

  - name: "squeue command"
    function_name: subprocess_run
    kwargs:
      command: "squeue"

  - name: "System load"
    function_name: system_load
    kwargs:
      max_load_fraction: -1

  - name: "Count open files"
    function_name: lsof_count

  - name: "Count processes"
    function_name: count_processes

  - name: "Count processes and threads (ps -AL)"
    function_name: ps_count_with_threads

  - name: "Storage usage in /home"
    function_name: disk_usage
    kwargs:
      mountpoint: "/home"

  - name: "Memory usage"
    function_name: memory_usage

  - name: "Check mounts"
    function_name: check_mounts
    kwargs:
      mounts: ["/data/shares"]

  - name: "SSH connections"
    function_name: lsof_ssh

  - name: "Postgres check"
    function_name: postgresql_db_info
    kwargs:
      dbname: fractal-test
      user: postgres
      password: postgres
      #host: /var/run/postgresql/


email-config:
  status_file: "./status.yaml"
  recipients: ["example@example.com"]
  grace_time_not_triggering_hours: 72
  grace_time_triggering_hours: 4
  smtp_server: "localhost"
  smpt_server_port: 2025
  sender: "example@example.org"
  password: "1234"
  instance_name: "MyInstance"
